<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>index</title>
</head>
<body>
  <h2>계좌 등록에 성공했습니다.</h2>
  <div style="width:180px;height:40px;background-color:#004fff;
  box-shadow:0 4px 16px rgba(0,79,255,0.3);font-size:16px;font-weight: bold;
  border-radius:20px;text-align: center;vertical-align: middle;display: table;"> 
  <a href="capstone://nbread" style="color:white;text-decoration: none;vertical-align: middle;display: table-cell;">앱으로 돌아가기</a></div>
</body>
</html>